*
{
    text-align: center;
    font-family: "romain_reguRgText";
}

.navbar
{
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
}

h2,h3
{

    padding-bottom: 40px;
    padding-top: 40px;
    text-decoration: underline;
}

.entoureimage
{
    float: inline-end;
    padding-right: 20px;
}

p
{
    font-size: 18px;
}

footer
{
    background: black;
    color: white;
}

ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
