*
{
    text-align: center;
    font-family: "romain_reguRgText";
}

.navbar
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h2,h3
{
    padding-bottom: 40px;
    padding-top: 40px;
    text-decoration: underline;
}

p
{
    font-size: 18px;
    text-align: center;
}

footer
{
    background: black;
    color: white;
}

#t
{
    position:absolute;
    top: 40%;
    right: 30%;
    left: 30%;
    color: white;
}

#spiritHome
{
    border: 3px solid white;
    color: white;
    margin-bottom: 50px;
}

